## DATA PREPROCESSING AND DATA CLEANING

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Dataset.csv')
df.head()

,UDI,Product ID,Type,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Target,Failure_Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [4]:
df.tail()

,UDI,Product ID,Type,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Target,Failure_Type
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [5]:
del df['UDI']
del df['Product ID']
del df['Type']
del df['Target']

In [6]:
df.describe()

,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000
std,2.000259,1.483734,179.284096,9.968934,63.654147
min,295.300000,305.700000,1168.000000,3.800000,0.000000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000
max,304.500000,313.800000,2886.000000,76.600000,253.000000

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Failure_Type']
  
for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [8]:
df.head()

,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Failure_Type
0,298.1,308.6,1551,42.8,0,1
1,298.2,308.7,1408,46.3,3,1
2,298.1,308.5,1498,49.4,5,1
3,298.2,308.6,1433,39.5,7,1
4,298.2,308.7,1408,40.0,9,1

In [9]:
df.columns

Index(['Air_temperature ', 'Process_temperature ', 'Rotational_speed ',
       'Torque ', 'Tool_wear ', 'Failure_Type'],
      dtype='object')

In [10]:
df.size

60000

In [11]:
df.columns

Index(['Air_temperature ', 'Process_temperature ', 'Rotational_speed ',
       'Torque ', 'Tool_wear ', 'Failure_Type'],
      dtype='object')

In [12]:
df.isnull().sum()

Air_temperature         0
Process_temperature     0
Rotational_speed        0
Torque                  0
Tool_wear               0
Failure_Type            0
dtype: int64

In [13]:
df = df.dropna()

In [14]:
df['Failure_Type'].unique()

array([1, 3, 5, 2, 4, 0])

In [15]:
df.describe()

,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Failure_Type
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,1.039000
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.379069
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,1.000000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,1.000000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,1.000000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,5.000000

In [16]:
df.corr()

,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear,Failure_Type
Air_temperature,1.000000,0.876107,0.022670,-0.013778,0.013853,-0.025327
Process_temperature,0.876107,1.000000,0.019277,-0.014061,0.013488,-0.004600
Rotational_speed,0.022670,0.019277,1.000000,-0.875027,0.000223,0.079407
Torque,-0.013778,-0.014061,-0.875027,1.000000,-0.003093,0.031737
Tool_wear,0.013853,0.013488,0.000223,-0.003093,1.000000,0.111619
Failure_Type,-0.025327,-0.004600,0.079407,0.031737,0.111619,1.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Air_temperature       10000 non-null  float64
 1   Process_temperature   10000 non-null  float64
 2   Rotational_speed      10000 non-null  int64
 3   Torque                10000 non-null  float64
 4   Tool_wear             10000 non-null  int64
 5   Failure_Type          10000 non-null  int32
dtypes: float64(3), int32(1), int64(2)
memory usage: 429.8 KB

In [18]:
df["Failure_Type"].value_counts()

Failure_Type
1    9652
0     112
3      95
2      78
5      45
4      18
Name: count, dtype: int64

In [19]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [20]:
sum(df.duplicated())

0